@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Rock Paper Scissors Lizard Spock</h1>
  <h2>Choose your weapon wisely (type rock, paper, scissors, lizard, or spock):</h2>
  <form action="/results-page">
      <div class="form-group">
          <label for="playerone">Player One:</label>
          <input type="text" name="playerone">
      </div>
      <div class="form-group">
          <label for="playertwo">Player Two:</label>
          <input type="text" name="playertwo">
      </div>
      <button type="submit" class="btn btn-danger" name="button">Fight!</button>
  </form>
</div>
