@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Rock Paper Scissors Lizard Spock</h1>
  <h2>@Model.GetOutcome()</h2>
  <form action="/">
      <button class="btn btn-success" type="submit">Play Again</button>
  </form>
</div>
